/******************************************************************
1218px - 16 Columns
columns = 48px
gutters = 30px
1248px with 15px side margins

div.col1 { width: 48px; }
div.col2 { width: 126px; }
div.col3 { width: 204px; }
div.col4 { width: 282px; }
div.col5 { width: 360px; }
div.col6 { width: 438px; }
div.col7 { width: 516px; }
div.col8 { width: 594px; }
div.col9 { width: 672px; }
div.col10 { width: 750px; }
div.col11 { width: 828px; }
div.col12 { width: 906px; }
div.col13 { width: 984px; }
div.col14 { width: 1062px; }
div.col15 { width: 1140px; }
div.col16 { width: 1218px; }
******************************************************************/
$layoutwidth : 1218;
@import "978gs";
@include layout;

@media screen and (min-width:1408px){
	.post_title{display: none;}
}

body{
	@include font-size(14);
}
.entry_excerpt {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%;
}

#site_title h1 a, #site_title h4 a{
	font-family: 'Georgia', Arial, sans-serif;
	@include font-size(65);
}
#entries, #sidebar, #footer{
	@include font-size(14);
}
#entries{
	@include grid(11,true);
	padding-left: 5px;
	padding-right: 20px;
	margin-top: -15px;
	.thumbnail{margin: 0 auto;}
	h2{
		a{@include font-size(24);}
}

.entriescol1{
	@include grid(5,true);
}

#entries .post_content {
@include grid(5);

	}
}
embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 803px;
	height: 452px;
}
#sidebar{
	@include grid(5);

	margin: 0px;}
#footer{clear: both;}
ol.commentlist li.comment div.vcard, ol.commentlist li.comment ul {
	@include font-size(16);
}

ol.commentlist li.comment div.vcard span.says, .site-info, ol.commentlist li.comment div.reply, ol.commentlist li.comment p, ol.commentlist li.comment div.comment-meta {
	@include font-size(14);
}
.gallery-columns-1 .gallery-item {max-width: 100%;}
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item{
	width: 32% !important;
	float: left;
}
