/******************************************************************
1378PX - 16 Columns
column - 58px
gutter - 30px

For reference:
div.col1 { width: 58px; }
div.col2 { width: 146px; }
div.col3 { width: 234px; }
div.col4 { width: 322px; }
div.col5 { width: 410px; }
div.col6 { width: 498px; }
div.col7 { width: 586px; }
div.col8 { width: 674px; }
div.col9 { width: 762px; }
div.col10 { width: 850px; }
div.col11 { width: 938px; }
div.col12 { width: 1026px; }
div.col13 { width: 1114px; }
div.col14 { width: 1202px; }
div.col15 { width: 1290px; }
div.col16 { width: 1378px; }

******************************************************************/
$layoutwidth : 1378;
@import "978gs";

@media screen and (min-width:1408px){
	.post_title{display: none;}
}

body{
	@include font-size(14);
}
.entry_excerpt {
	display: inline-block;
	margin:  0.25rem;
	padding:  1rem;
	width:  100%;
}

#site_title h1 a, #site_title h4 a{
	font-family: 'Georgia', Arial, sans-serif;
	@include font-size(65);
}
#entries, #sidebar, #footer{
	@include font-size(16);
}
#entries{
	@include grid(12,true);
	padding-left: 5px;
	padding-right: 15px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 0px;
	.thumbnail{margin: 0 auto;}
	h2{
		a{@include font-size(28);}
}
.entriescol1{
	@include grid(4,true);
}
.entriescol2{
	@include grid(7);
}
#entries .post_content {
	@include grid(5);
	}
}
embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 803px;
	height: 452px;
}
#sidebar{
	@include grid(4);
	margin: 0px;}
#footer{clear: both;}
ol.commentlist li.comment div.vcard, ol.commentlist li.comment ul {
	@include font-size(18);
}
ol.commentlist li.comment div.vcard span.says, .site-info, ol.commentlist li.comment div.reply, ol.commentlist li.comment p, ol.commentlist li.comment div.comment-meta {
	@include font-size(16);
}
.gallery-columns-1 .gallery-item {max-width: 100%;}
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item{
	width: 32% !important;
	float: left;
}