/******************************************************************
1378PX - 16 Columns
colums = 58px
gutters = 40px
total  with 20px side margins

For reference:
div.col1 { width: 58px; }
div.col2 { width: 146px; }
div.col3 { width: 234px; }
div.col4 { width: 322px; }
div.col5 { width: 410px; }
div.col6 { width: 498px; }
div.col7 { width: 586px; }
div.col8 { width: 674px; }
div.col9 { width: 762px; }
div.col10 { width: 850px; }
div.col11 { width: 938px; }
div.col12 { width: 1026px; }
div.col13 { width: 1114px; }
div.col14 { width: 1202px; }
div.col15 { width: 1290px; }
div.col16 { width: 1378px; }

******************************************************************/