/******************************************************************
1680px - 16 Columns
colums = 60px
gutters = 40px
total  with 20px side margins

For reference:
div.col1 { width: 60px; }
div.col2 { width: 160px; }
div.col3 { width: 260px; }
div.col4 { width: 360px; }
div.col5 { width: 460px; }
div.col6 { width: 560px; }
div.col7 { width: 660px; }
div.col8 { width: 760px; }
div.col9 { width: 860px; }
div.col10 { width: 960px; }
div.col11 { width: 1060px; }
div.col12 { width: 1160px; }
div.col13 { width: 1260px; }
div.col14 { width: 1360px; }
div.col15 { width: 1460px; }
div.col16 { width: 1560px; }
div.col17 { width: 1760px;}
div.col18 ( width: 1860px;)

******************************************************************/
$layoutwidth : 1800;
@import "978gs";
@include layout;


/*

#page{
	width: 1800px;
	margin: 0 auto;
}
@media screen and (min-width:1408px){
	.post_title{display: none;}
}
body{
	@include font-size(16);
}
#site_title h1 a, #site_title h4 a{
	font-family: 'Georgia', Arial, sans-serif;
	@include font-size(68);
}
#entries, #sidebar, #footer{
	@include font-size(16);
}
#entries{
	background: lightblue;
	@include grid(11,true);
	padding-left: 5px;
	padding-right: 15px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 0px;
	.thumbnail{margin: 0 auto;}
	h2{
		a{@include font-size(24);}
	}
}
.entry_excerpt {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%;
}
#entries .post_content {
	@include grid(5);
}
embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 803px;
	height: 452px;
}
.gallery-columns-1 .gallery-item {max-width: 100%;}
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item{
	width: 32% !important;
	float: left;
}
ol.commentlist li.comment div.vcard, ol.commentlist li.comment ul {
	@include font-size(16);
}
ol.commentlist li.comment div.vcard span.says, .site-info, ol.commentlist li.comment div.reply, ol.commentlist li.comment p, ol.commentlist li.comment div.comment-meta {
	@include font-size(14);
}
#sidebar{
	background: pink;
	@include grid(5);
	margin: 0px;}

#footer{clear: both;}
.entriescol1{
	@include grid(5,true);
}
 */