/******************************************************************
1680px - 16 Columns
colums = 60px
gutters = 40px
total  with 20px side margins

For reference:
div.col1 { width: ; }
div.col2 { width: ; }
div.col3 { width: ; }
div.col4 { width: ; }
div.col5 { width: ; }
div.col6 { width: ; }
div.col7 { width: ; }
div.col8 { width: ; }
div.col9 { width: ; }
div.col10 { width: ; }
div.col11 { width: ; }
div.col12 { width: ; }
div.col13 { width: ; }
div.col14 { width: ; }
div.col15 { width: ; }
div.col16 { width: ; }
div.col17 { width: ;}
div.col18 ( width: ;)

******************************************************************/
$layoutwidth : 1800;
@import "978gs";
@include layout;