/******************************************************************
1680px - 16 Columns
colums = 60px
gutters = 40px
total  with 20px side margins

For reference:
div.col1 { width: 60px; }
div.col2 { width: 160px; }
div.col3 { width: 260px; }
div.col4 { width: 360px; }
div.col5 { width: 460px; }
div.col6 { width: 560px; }
div.col7 { width: 660px; }
div.col8 { width: 760px; }
div.col9 { width: 860px; }
div.col10 { width: 960px; }
div.col11 { width: 1060px; }
div.col12 { width: 1160px; }
div.col13 { width: 1260px; }
div.col14 { width: 1360px; }
div.col15 { width: 1460px; }
div.col16 { width: 1560px; }
div.col17 {  width: 1760px;}
div.col17 ( width: 1860px;)

******************************************************************/
$layoutwidth : 1820;
@import "978gs";
@include layout;

body{
	@include font-size(14);
}

#site_title h1 a, #site_title h4 a{
font-family: 'Georgia', Arial, sans-serif;
@include font-size(65);
}
#entries, #sidebar, #footer{
	@include font-size(14);
}
#entries{
	@include grid(11,true);
	padding-left: 5px;
	padding-right: 20px;
	margin-top: -15px;
	.thumbnail{
		margin: 0 auto;
	}
}
#entriescol {
	-moz-column-width: 340px;
	-webkit-column-width: 340px;
	-moz-column-gap: 14px;
	-webkit-column-gap: 14px;
	-webkit-column-fill: auto;
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside:avoid;
}
.entry_excerpt {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%;
}
#entries .post_content {
	h2{text-align: center;
		a{
			@include font-size(24);

		}
	}
}

#sidebar{
	@include grid(7);

	margin: 0px;}
#footer{clear: both;}