/******************************************************************
2000 - 20 Columns
colums = 68
gutters = 32px

For reference:
div.col1 { width: 68; }
div.col2 { width: 168; }
div.col3 { width: 268; }
div.col4 { width: 368; }
div.col5 { width: 468; }
div.col6 { width: 568; }
div.col7 { width: 668; }
div.col8 { width: 768; }
div.col9 { width: 868; }
div.col10 { width: 968; }
div.col11 { width: ; }
div.col12 { width: ; }
div.col13 { width: ; }
div.col14 { width: ; }
div.col15 { width: ; }
div.col16 { width: ; }
div.col17 { width: ;}
div.col18 ( width: ;)
2240px
2360 +40 gutter

******************************************************************/
$layoutwidth : 2000;
@import "978gs";
@include layout;
