/******************************************************************
2412px - 18 Columns
colums = 86px
gutters = 48px
total  with 20px side margins

For reference:
div.col1 { width: 86px; }
div.col2 { width: 220px; }
div.col3 { width: 354px; }
div.col4 { width: 488px; }
div.col5 { width: 622px; }
div.col6 { width: 756px; }
div.col7 { width: 890px; }
div.col8 { width: 1024px; }
div.col9 { width: 1158px; }
div.col10 { width: 1292px; }
div.col11 { width: 1426px; }
div.col12 { width: 1560px; }
div.col13 { width: 1694px; }
div.col14 { width: 1828px; }
div.col15 { width: 1962px; }
div.col16 { width: 2096px; }
div.col17 { width: 2230px;}
div.col18 ( width: 2364px;)

******************************************************************/
$layoutwidth : 1800;
@import "978gs";
@include layout;


@media screen and (min-width:1408px){
	.post_title{display: none;}
}

body{
	@include font-size(14);
}
.entry_excerpt {
	display: inline-block;
	margin:  0.25rem;
	padding:  1rem;
	width:  100%;
}

#site_title h1 a, #site_title h4 a{
	font-family: 'Georgia', Arial, sans-serif;
	@include font-size(65);
}
#entries, #sidebar, #footer{
	@include font-size(16);
}
#entries{
	@include grid(13,true);
	padding-left: 5px;
	padding-right: 15px;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 0px;
	.thumbnail{margin: 0 auto;}
	h2{
		a{@include font-size(28);}
}
.entriescol1{
	@include grid(4,true);
}
.entriescol2{
	@include grid(9);
}
#entries .post_content {
	@include grid(13);
	}
}
embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 803px;
	height: 452px;
}
#sidebar{
	background: pink;
	@include grid(5);
	margin: 0px;}
#footer{clear: both;}
ol.commentlist li.comment div.vcard, ol.commentlist li.comment ul {
	@include font-size(18);
}
ol.commentlist li.comment div.vcard span.says, .site-info, ol.commentlist li.comment div.reply, ol.commentlist li.comment p, ol.commentlist li.comment div.comment-meta {
	@include font-size(16);
}
.gallery-columns-1 .gallery-item {max-width: 100%;}
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item{
	width: 32% !important;
	float: left;
}