/******************************************************************
300px - 8 Columns
colums=27px
gutters=12px
total=320px with 10px side margins

div.col1 { width: 27px; }
div.col2 { width: 66px; }
div.col3 { width: 105px; }
div.col4 { width: 144px; }
div.col5 { width: 183px; }
div.col6 { width: 222px; }
div.col7 { width: 261px; }
div.col8 { width: 300px; }
******************************************************************/
$layoutwidth:300;
@import "978gs";
@include layout;
@media only screen and (min-width:0px) and (max-width: 767px){
	.post_title_wide{display: none;}
}
body{
	@include font-size(14);
}
#site_title h1 a, #site_title h4 a{
font-family: 'Georgia', Arial, sans-serif;
@include font-size(55);
}

#entries, #sidebar, #footer{
	padding: 5px;
	@include font-size(12);
}
#entries{
	padding-top: 130px;
	h2{
		a{
			@include font-size(16);
		}
	}
}
.post_title_short{display: none;}