/******************************************************************
300px - 8 Columns
colums=27px
gutters=12px
total=320px with 10px side margins

div.col1 { width: 27px; }
div.col2 { width: 66px; }
div.col3 { width: 105px; }
div.col4 { width: 144px; }
div.col5 { width: 183px; }
div.col6 { width: 222px; }
div.col7 { width: 261px; }
div.col8 { width: 300px; }
******************************************************************/
$layoutwidth:300;
@import "978gs";
@include layout;

body{@include font-size(14);}
#site_title h1 a, #site_title h4 a{
	font-family: 'Georgia', Arial, sans-serif;
	@include font-size(50);
}
#container{
	padding: 5px;
}
@media only screen and (min-width:0px) and (max-width: 767px){
	.post_title_wide{display: none;}
}
#entries, #sidebar, #footer{
	padding: 5px;
	@include font-size(12);
}
#entries{
	padding-top: 130px;
	h2{
		a{@include font-size(16);}
	}
}
.post_title_short{display: none;}
#comments{
	margin-top: 20px;
}

ol.commentlist li.comment div.vcard,
ol.commentlist li.comment ul {
	@include font-size(14);}
ol.commentlist li.comment div.vcard span.says,
.site-info,
ol.commentlist li.comment div.reply,
ol.commentlist li.comment p,
ol.commentlist li.comment div.comment-meta {
	@include font-size(12);}
embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 290px;
	height: 163px;
}
.gallery-item {width: 100% !important;}
#related{
	padding: 0px;
	margin: 0px 0px 0px -3px;
	hr{
		margin-bottom: 25px;
	}
}
.related:nth-child(n+4){display: none;}

#sidebar{
	@include grid(8,true);
	}
#sidebar .widget_categories ul, #sidebar .widget_archive ul, .sponsors .textwidget {
	-moz-column-count: 2;
   -moz-column-gap: 10px;
   -webkit-column-count: 2;
   -webkit-column-gap: 10px;
}

.products{
	li{width: 48% !important;}
}
.shop_table{
	td.product-thumbnail, th.product-thumbnail, td.product-remove, th.product-remove{display: none;}
}
.checkout-button {margin-top: 10px !important;}

/* one column checkout page */
.woocommerce #customer_details.col2-set .col-1, .woocommerce .addresses.col2-set .col-1, .woocommerce-page #customer_details.col2-set .col-1, .woocommerce-page .addresses.col2-set .col-1,
.woocommerce #customer_details.col2-set .col-2, .woocommerce .addresses.col2-set .col-2, .woocommerce-page #customer_details.col2-set .col-2, .woocommerce-page .addresses.col2-set .col-2 {
    clear: both;
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
    text-align: left;
    padding-bottom: 20px;
}
.cart-collaterals h2{font-size: 200%;}
