/******************************************************************
748px - 12 Columns
columns = 44px
gutters = 20px
total 768 with 10px side margins

div.col1 { width: 44px; }
div.col2 { width: 108px; }
div.col3 { width: 172px; }
div.col4 { width: 236px; }
div.col5 { width: 300px; }
div.col6 { width: 364px; }
div.col7 { width: 428px; }
div.col8 { width: 492px; }
div.col9 { width: 556px; }
div.col10 { width: 620px; }
div.col11 { width: 684px; }
div.col12 { width: 748px; }
******************************************************************/
$layoutwidth:748;
@import "978gs";
@include layout;
@media only screen and (min-width: 768px) and (max-width:1247px) {
.post_title_wide{display: none;}
}

body{
	@include font-size(14);
}
#site_title h1 a, #site_title h4 a{
	font-family: 'Georgia', Arial, sans-serif;
	@include font-size(55);
}
#entries, #sidebar, #footer{
	@include font-size(14);

}
#entries{
	@include grid(7,true);
	padding-left: 15px;
	padding-right: 15px;
	margin-top: -15px;
	text-align: justify;
	text-justify: newspaper;
	.thumbnail{
		background: CadetBlue;

		margin: 0 auto;
	}
}
.post_title_long{display: none;}
.post_content {
	h2{text-align: left;
		a{

			@include font-size(18);
		}
	}
}

ol.commentlist li.comment div.vcard, ol.commentlist li.comment ul {
	@include font-size(16);
}

ol.commentlist li.comment div.vcard span.says, .site-info, ol.commentlist li.comment div.reply, ol.commentlist li.comment p, ol.commentlist li.comment div.comment-meta {
	@include font-size(14);
}

#sidebar{
	@include grid(5);
	margin-right: 0px;
	margin-left: 0px;

}
#footer{
	clear: both;
}
.site-info{
	@include font-size(14);
}

