/******************************************************************
978px - 12 Columns
colums = 54px
gutters = 30px
1002px total with 12px side margins

div.col1 { width: 54px; }
div.col2 { width: 138px; }
div.col3 { width: 222px; }
div.col4 { width: 306px; }
div.col5 { width: 390px; }
div.col6 { width: 474px; }
div.col7 { width: 558px; }
div.col8 { width: 642px; }
div.col9 { width: 726px; }
div.col10 { width: 810px; }
div.col11 { width: 894px; }
div.col12 { width: 978px; }
******************************************************************/
$layoutwidth : 978;
@import "978gs";
@include layout;
@media screen and (min-width:1248px) and (max-width:1407px){
	.post_title_wide{display: none;}
}
body{
	@include font-size(14);
}
#site_title h1 a, #site_title h4 a{
	font-family: 'Georgia', Arial, sans-serif;
	@include font-size(55);
}
#entries, #sidebar, #footer{
	@include font-size(14);
}
#entries{
	@include grid(8,true);
	margin-top: -15px;
	padding-left: 15px;
	padding-right: 15px;
	.thumbnail{
		background: CadetBlue;
		margin: 0 auto;
	}
}
.post_content {
	h2{text-align: left;
		a{
			@include font-size(22);

		}
	}
}
embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 612px;
	height: 344px;
}
#sidebar{
	@include grid(4);
	margin: 0px;
}
#sidebar .widget_categories ul, #sidebar .widget_archive ul, .sponsors .textwidget, .sponsors .textwidget ins{
	-moz-column-count: 2;
   -moz-column-gap: 10px;
   -webkit-column-count: 2;
   -webkit-column-gap: 10px;
}
/*
#related{
margin-left: -7px;
padding: 5px;
text-align: left;
@include grid(12,true);
}
#comments{
	@include grid(12,true);
}
*/
#related{
margin-left: -7px;
padding: 5px;
text-align: left;
}
.related{
	@include grid(3,true);
	img{
		width: 222px;
		height: 125px;
	}
	&:first-of-type{
		@include grid(3,true);
	}
	margin-left:20px;
}
.related:nth-child(n+6){display: none;}

ol.commentlist li.comment div.vcard, ol.commentlist li.comment ul {@include font-size(16);}
ol.commentlist li.comment div.vcard span.says, .site-info, ol.commentlist li.comment div.reply, ol.commentlist li.comment p, ol.commentlist li.comment div.comment-meta {
	@include font-size(14);
}
#footer{
	clear: both;
	@include grid(12,true);

	.widget{
		@include grid(3);
		padding: 1px;
	}
	.widget-first{
		@include grid(3,true);
		padding-left: 10px;
	}
	.widget-last{
		padding-right: 10px;
	}

}
.site-info{@include font-size(14);}