$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$text-col: 			#444;
$col-blue: 			#007cbe;
$col-coral:			#ffa145;
$col-tan: 			#f2e8d1;
$col-purple-light:  #b492bf;
$col-purple-dark:	#9e64a5;

$link-col:       	#1a87bf;
$link-hover:      	lighten($link-col, 15%);

@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5){
  font-size: ($sizeValue * 1) + px;
  line-height: ($line * 1) + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line / 10) + rem;
}

%alert {
	padding: 5px 10px;
	border: 1px solid;
}
.alert-help {
	@extend %alert;
	border-color: darken($alert-yellow, 5%);
	background: $alert-yellow;
}
.alert-info {
	@extend %alert;
	border-color: darken($alert-blue, 5%);
	background: $alert-blue;
}
.alert-error {
	@extend %alert;
	border-color: darken($alert-red, 5%);
	background: $alert-red;
}
.alert-success {
	@extend %alert;
	border-color: darken($alert-green, 5%);
	background: $alert-green;
}
#clearfix{
	clear:both;
}
.alignleft, img.alignleft {
	display: inline;
	float: left;
  margin-right: 1.5em;
}
.alignright, img.alignright {
	display: inline;
	float: right;
  margin-left: 1.5em;
}
.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p {
     clear: both;
}